body {
    background-color: gray;
    font-family: 'Diablo Heavy';



}

h1 {
    text-align: center;
}




a {
    color: #ff000083;
    text-decoration: double;

}

a:hover {
    color: rgb(255, 174, 0);
}

.card-title {
    width: 100%;
    font-size: 24px;
    text-align: center;
    display:table-cell;
   
    

}

.card-img-top {
    width: 200px;
    height: 100px;
  float: left;
}

.card-img-top:hover{
    transform: scale(0.95);

}

.card {
    padding: 0px auto;


}

.banner {
    background-position: center;
    background-repeat: no-repeat;
    height: 50vw;
    background-size: cover;
    max-height: 400px;
    background-image: url('../Pictures/darkcity.jpg');
}

.navbar {
    overflow: hidden;
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(230, 108, 28) 35%, rgb(255, 196, 0) 100%);
}

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}




.navbar a:hover {
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(230, 108, 28) 35%, rgb(255, 196, 0) 100%);
    color: rgb(0, 0, 0);
    box-shadow: 5px 10px rgba(17, 16, 16, 0.466);

}

.navbar a.active {
    background-color: #856bc4;
    color: white;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.end {
    text-align: center;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(230, 108, 28) 35%, rgb(255, 196, 0) 100%);
    position: relative;
    width: 100%;
    padding: 16px 0 14px ;
    display: block;
    box-shadow: 5px 10px rgba(17, 16, 16, 0.466);



}

.gitico {
    height: 20px;
    width: 20px;
}

@font-face {
    font-family: 'Diablo Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Diablo Heavy'), url('../Fonts/Diablo Heavy.ttf') format('woff');
}